:root {
  --container-bg: #000;
  --text-color: #fff;
  --orange: #ea5119;
  --red: #ed2121;
  --grey: #e0e0e0;
  --footer-bg: #383838;
  --border-color: #4c4c4c;
  --muted: #d1d1d1;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
body {
  background-color: var(--container-bg);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px 0;
}
.brandName {
  width: 8%;
}

.menu {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3%;
}

.menu img {
  width: 20px;
  margin-right: 10px;
}

.search {
  position: relative;
  width: 45%;
  margin: 0 auto;
}

.search input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.search img {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 20px;
}
.nav_right {
  margin-left: auto;
}
.countbadge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--red);
  display: block;
  position: absolute;
  top: -45px;
  right: -5px;
}
.nav_right img {
  width: 50px;
}
.shopingCart {
  position: relative;
}
.AC_advertisement {
  display: none;
}
.heading_toggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
i.fa.fa-angle-down {
  font-size: 20px;
}
.section_heading {
  padding-bottom: 10px;
  /* border-bottom: 1px solid var(--border-color); */
  font-size: 15px;
}

.crumb {
  margin: 10px 0;
  display: flex;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  list-style-type: none;
}
.crumb li {
  padding: 15px 0px 15px 20px;
  position: relative;
  color: var(--muted);
  letter-spacing: 1px;
}
.crumb li i {
  margin-left: 10px;
}
.crumb li:last-child:after {
  content: "";
}
.container {
  width: 85%;
  margin: 0 auto;
}
.Carousel {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 50px 0;
}
.Carousel .left_content {
  width: 50%;
}
.Carousel .Right_content {
  width: 50%;
  height: 100vh;
  overflow: auto;
}
.Right_content::-webkit-scrollbar {
  display: none;
}
.Carousel .carousel_image {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  background-color: var(--text-color);
  background-image: url(../images/SamsungAc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* .Carousel .carousel_box {
  display: flex;
  justify-content: center;
} */
.Carousel .carousel_captions {
  width: 90%;
  /* height: 80px; */
  background-color: var(--text-color);
  margin: 20px 0px;
  padding: 20px;
  /* 
  background-image: url(../images/SamsungAc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  */
}
.Carousel .carousel_captions img {
  width: 100%;
  margin: 0 auto;
}
.Carousel .Right_content pre {
  font-size: 16px;
  line-height: 25px;
}
.Carousel .Right_content .btn {
  padding: 5px 10px;
  margin: 0px 10px 10px 0;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--muted);
  border-radius: 3px;
  color: var(--muted);
  font-size: 10px;
}
.pricetag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
}
div#AC-owl-carousel button.owl-prev {
  position: absolute;
  left: -30px;
  top: 25px;
  background-color: none;
}
div#AC-owl-carousel button.owl-next {
  position: absolute;
  right: -30px;
  top: 25px;
  background-color: none;
}
.Carousel .Right_content span {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.Carousel .Right_content b {
  font-size: 19px;
  display: block;
  font-weight: bold;
}

.sm {
  display: none;
}
.priceRange {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.pricedrop,
.mrp {
  width: 45%;
  border-right: 1px solid var(--border-color);
  margin-right: 5%;
}
.pricedrop {
  color: var(--orange);
}
.mrp b {
  text-decoration: 2px line-through solid red;
}
span.circle {
  width: 18px;
  height: 18px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-right: 15px;
}
.compare {
  margin-left: 100px;
  width: auto;
  display: flex;
}
.compare span {
  margin-left: 10px;
}
.Carousel .Right_content h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  font-size: 15px;
}
.keyfeatures ul {
  margin: 10px 20px;
}
.keyfeatures ul li {
  line-height: 30px;
  color: var(--muted);
}
.cardgroup {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.cardgroup::-webkit-scrollbar {
  display: none;
}
.cardgroup .card {
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  margin: 20px 0;
  padding: 0px 10px;
}
.cardgroup .card-header img {
  width: 30px;
}
.cardgroup .card-header span {
  color: var(--container-bg);
  margin-left: 10px;
}

.card-header {
  display: flex;
  align-items: center;
}
.card-body {
  padding: 10px 0;
}
.card-body p {
  font-size: 10px;
  color: var(--container-bg);
  line-height: 15px;
}
.card-body p:nth-child(2) {
  margin-top: 10px;
}
.zip_production_plan {
  color: var(--muted);
}
.zip_productionconnent p {
  line-height: 15px;
}
.zip_productionconnent p:first-child {
  margin-top: 10px;
}
.zip_productionconnent p:nth-child(2) {
  margin: 20px 0;
}
.zip_production_plan span {
  font-size: 8px;
  margin-left: 15px;
}
.zip_production_plan ul {
  list-style-type: circle;
  margin: 10px 20px;
  width: 60%;
}
.zip_production_plan ul li {
  line-height: 30px;
}
.zipmrp {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  font-weight: normal;
}

.zipmrp p:nth-child(1) {
  width: 70%;
  font-size: 13px;
  display: flex;
  align-items: center;
}
i.fa.fa-circle-o {
  margin-right: 15px;
}
.zipmrp p:nth-child(2) {
  width: 15%;
  color: var(--text-color);
}
.zipmrp p:nth-child(3) {
  width: 15%;
  text-decoration: 2px line-through var(--red);
}
.mt20 {
  margin-top: 20px;
}
.buynow {
  background-color: var(--red);
  padding: 10px 20px;

  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 10px;
}
.addcart {
  padding: 10px 20px;

  border-radius: 3px;
  border: 1px solid var(--text-color);
  font-weight: bold;
  color: var(--text-color);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 50px;
}
.spacifications {
  margin: 80px 0 30px;
}
.Accordion_content {
  display: none;
}
.spacifications h2 {
  font-size: 15px;
  margin: 20px 0;
}
.spacifications_Type {
  display: flex;
  flex-wrap: wrap;
}
.spacifications_Type .box {
  width: 30%;
  margin-right: 3%;
  padding: 15px 20px 15px 0;
  margin-bottom: 30px;
  border-right: 1px solid var(--border-color);
}
.spacifications_Type .box:nth-child(3) {
  border: none;
}
.spacifications_Type .box p:first-child {
  margin-bottom: 10px;
}
.spacifications_Type .box p:nth-child(2) {
  font-size: 15px;
}
.manufaturer .box {
  border: none;
}
.viewmorebtn {
  padding: 7px 15px;
  color: var(--container-bg);
  background-color: var(--text-color);
  border-radius: 5px;
  border: none;
  outline: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.overview_box {
  margin: 30px 0;
}
.overview {
  display: flex;
  flex-wrap: wrap;
}
.overview_left {
  width: 50%;
}
.overview_right {
  width: 45%;
  padding: 10px 20px;
  line-height: 20px;
  color: var(--muted);
}

.ProductShowCase {
  margin: 30px 0;
}

.overview_box h2 {
  font-size: 15px;
  margin: 20px 0;
}
.footer {
  padding: 30px 30px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--footer-bg);
}
.footer h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer1,
.footer3 {
  width: 30%;
  padding: 0 30px;
}
.footer2 {
  width: 40%;
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  padding: 0 30px;
}

.store {
  display: flex;
}
.store_box {
  width: 50%;
}
.store_box p {
  line-height: 20px;

  letter-spacing: 1px;
  margin: 5px 0 0;
}
.customercare {
  width: 50%;
  margin-left: auto;
  border-top: 1px solid var(--text-color);
}
.customercare h4 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}
.mail {
  position: relative;
}
.mail i {
  position: absolute;
  right: 10px;
  top: 9px;
  color: var(--container-bg);
}
.social_media_icon {
  margin: 10px 0;
}
.social_media_icon .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--text-color);
  color: var(--container-bg);
  margin: 5px;
  border-radius: 50%;
}
.mobile_media_icon {
  margin: 10px 0;
}
.mobile_media_icon .fa {
  margin: 10px;
}
.mobile_media_icon {
  display: none;
}
.similar_products_box {
  margin: 30px 0;
}

.similar_products {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}
div#owl-carousel {
  margin: 30px 0 0;
}
div#owl-carousel button.owl-prev {
  position: absolute;
  left: -30px;
  top: 140px;
  background-color: none;
}
div#owl-carousel button.owl-next {
  position: absolute;
  right: -30px;
  top: 140px;
  background-color: none;
}

.owl-theme .owl-nav [class*="owl-"] {
  font-size: 25px !important;
}
.owl-carousel .item {
  width: 100%;
  background-color: var(--text-color);
  color: var(--container-bg);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.owl-carousel .item img {
  width: 80%;
  margin: 50px auto;
  display: block;
}
.owl-carousel .item p {
  font-size: 13px;
  margin: 50px 0 20px;
  line-height: 20px;
  color: #525252;
  width: 90%;
}
.owl-carousel .item b {
  font-size: 20px;
  color: var(--orange);
  font-weight: bold;
}
.owl-carousel .item .fa-heart-o {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  margin: 0;
}

.owl-carousel .item .fa-inr {
  font-size: 12px;
  vertical-align: middle;
}
.product {
  display: flex;
  margin: 30px 0;
}
.product_left {
  width: 10%;
}
.product_right {
  width: 80%;
  background: var(--text-color);
}
.steps {
  display: flex;
  justify-content: center;
}
.step {
  width: 28%;
  margin: 10px;
}
.step h4 {
  color: var(--container-bg);
  font-weight: bold;
}
.step p {
  color: var(--container-bg);
  font-weight: normal;
  font-size: 8px;
  margin: 5px 0;
  height: 25px;
}
.copyright {
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 15px 0;
  text-align: center;

  margin: 15px 0 0;
}

@media (max-width: 576px) {
  .sm {
    display: block;
  }
  .lg {
    display: none;
  }
  .sm.AC-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .menu p {
    display: none;
  }
  .search {
    display: none;
  }
  .user {
    display: none;
  }
  .brandName {
    width: 40%;
    margin: 0 auto;
  }
  .brandLogo {
    width: 60%;
    flex-direction: row-reverse;
  }
  .menu {
    order: 1;
  }
  img.brandName {
    order: 2;
    width: 30%;
    margin: 0 auto;
  }
  .nav_right {
    order: 3;
    margin: 0;
  }
  .AC_advertisement {
    display: block;
  }
  .crumb {
    display: none;
  }
  .Carousel {
    height: auto;
    padding: 50px 0 0;
  }

  .Carousel .carousel_image {
    height: 35vh;
  }
  .Carousel .left_content {
    width: 100%;
  }
  .Carousel .Right_content {
    width: 90%;
    width: 100%;
    overflow-x: hidden;
  }

  .Carousel .Right_content .btn {
    display: block;
    margin: 0 0 20px;
  }
  .cardgroup .card {
    min-width: 70%;
    background-color: var(--text-color);
    border-radius: 5px;
    margin: 10px;
    padding: 0px 10px;
  }
  .keyfeatures ul li {
    line-height: 25px;
    font-size: 10px;
  }

  .zip_production_plan span {
    margin: 0 10px 0 0;
    display: block;
  }
  .zipmrp {
    flex-wrap: wrap;
  }
  .zipmrp p:nth-child(1) {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .zipmrp p:nth-child(2),
  .zipmrp p:nth-child(3) {
    width: 20%;
    font-size: 10px;
  }
  .Carousel .Right_content {
    height: fit-content;
    overflow: hidden;
  }
  .pricedrop {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    border-right: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .compare {
    width: 100%;
    margin: 15px 0 0;
  }
  .mrp {
    width: 100%;
    border-right: 0;
  }

  .pricetag img {
    margin-left: auto;
  }

  .pricetag {
    align-items: flex-start;
  }
  .spacifications {
    margin: 0;
  }
  .spacifications_Type .box {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
    border-right: 0px solid var(--grey);
    border-bottom: 1px solid var(--border-color);
  }

  .overview_left {
    width: 100%;
  }
  .overview_right {
    width: 100%;
    padding: 0 10px;
    text-align: justify;
  }
  .footer1 {
    width: 100%;
    padding: 0 0px;
  }
  .footer2,
  .footer3 {
    display: none;
  }
  .social_media_icon {
    display: none;
  }
  .mobile_media_icon {
    display: block;
  }
  .similar_products_card {
    width: 100%;
    margin-bottom: 20px;
  }
  .overview_box,
  .ProductShowCase,
  .similar_products_box {
    display: none;
  }
  .footer {
    margin: 50px 0 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .Carousel .Right_content pre {
    font-size: 10px;
    line-height: 25px;
  }
  .Carousel .Right_content b {
    font-size: 13px;
  }
  .compare {
    margin-left: 20px;
  }
  .keyfeatures ul li {
    font-size: 10px;
  }
  .cardgroup .card-header span {
    font-size: 8px;
    white-space: nowrap;
  }
  .card-body p {
    font-size: 7px;
    line-height: 10px;
  }
  .Carousel {
    height: fit-content;
  }
  .Carousel .carousel_image {
    height: 40vh;
  }
  .Carousel .Right_content {
    width: 50%;
    height: 54vh;
    overflow: auto;
  }
  .zip_productionconnent p {
    line-height: 15px;
    font-size: 10px;
  }
  .zipmrp p:nth-child(1) {
    font-size: 10px;
  }
  .zipmrp p:nth-child(2),
  .zipmrp p:nth-child(3) {
    font-size: 10px;
  }
  .similar_products_card b {
    font-size: 15px;
  }
  .similar_products_card p {
    font-size: 10px;
    margin: 10px 0 10px;
  }
  .spacifications_Type .box p:first-child {
    white-space: nowrap;
  }
  .step p {
    font-size: 7px;
    height: 30px;
  }
  .store_box p {
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0;
  }
  .footer2 {
    padding: 0 10px;
  }
  .footer1,
  .footer3 {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .compare {
    margin-left: 10px;
  }
}
/* 
div#AC-owl-carousel .owl-item {
  margin-right: 0 !important;
} */

.carousel_box {
  width: 80%;
  margin: 0 auto;
}
