:root {
  --container_bg: #000;
  --text_color: #fff;
  --orange: #ea5119;
  --red: #ed2121;
  --grey: #e0e0e0;
  --footerbg: #383838;
}
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif; */
  font-family: Arial;
  font-weight: normal;
}

.d-flex {
  display: flex;
}
body {
  background-color: var(--container_bg);
  color: var(--text_color);
}
.crumb {
  margin: 10px 0;
  display: flex;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  list-style-type: none;
}
.crumb li {
  padding: 15px 20px 15px;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
}
.crumb li:after {
  content: ">";
  position: absolute;
  display: inline-block;
  right: -5px;
}
.crumb li:last-child:after {
  content: "";
}
.container {
  width: 85%;
  margin: 0 auto;
}
.Carousel {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 50px 0;
}
.Carousel .left_content {
  width: 50%;
}
.Carousel .Right_content {
  width: 50%;
  height: 100vh;
  overflow: auto;
}
.Right_content::-webkit-scrollbar {
  display: none;
}
.Carousel .carousel_image {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  background-color: var(--text_color);
  background-image: url(../images/SamsungAc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.Carousel .carousel_box {
  display: flex;
  justify-content: center;
}
.Carousel .carousel_captions {
  width: 80px;
  height: 80px;
  background-color: var(--text_color);
  background-image: url(../images/SamsungAc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 20px 10px;
}
.Carousel .Right_content pre {
  font-size: 16px;
  line-height: 25px;
}
.Carousel .Right_content .btn {
  padding: 5px 10px;
  margin: 0px 10px 10px 0;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--grey);
  border-radius: 3px;
  color: var(--text_color);
  font-size: 10px;
}
.pricetag {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.Carousel .Right_content small {
  font-size: 12px;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.Carousel .Right_content b {
  font-size: 15x;
  display: block;
  font-weight: bold;
}
.pricedrop,
.mrp {
  width: 100px;
  border-right: 1px solid var(--grey);
  margin-right: 20px;
}
.pricedrop {
  color: var(--orange);
}
.mrp b {
  text-decoration: 2px line-through solid red;
}
.compare {
  margin-left: 100px;
}
.compare span {
  margin-left: 10px;
}
.Carousel .Right_content h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
  font-size: 15px;
}
.keyfeatures ul {
  margin: 10px 20px;
}
.keyfeatures ul li {
  line-height: 30px;
  font-size: 12px;
}
.cardgroup {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.cardgroup::-webkit-scrollbar {
  display: none;
}
.cardgroup .card {
  width: 32%;
  background-color: var(--text_color);
  border-radius: 5px;
  margin: 20px 0;
  padding: 0px 10px;
}
.cardgroup .card-header img {
  width: 30px;
}
.cardgroup .card-header span {
  color: var(--container_bg);
  margin-left: 10px;
  font-size: 12px;
}

.card-header {
  display: flex;
  align-items: center;
}
.card-body {
  padding: 10px 0;
}
.card-body p {
  font-size: 10px;
  color: var(--container_bg);
  line-height: 15px;
}
.card-body p:nth-child(2) {
  margin-top: 10px;
}
.zip_productionconnent p {
  font-size: 12px;
  line-height: 15px;
}
.zip_productionconnent p:first-child {
  margin-top: 10px;
}
.zip_productionconnent p:nth-child(2) {
  margin: 20px 0;
}
.zip_production_plan span {
  font-size: 8px;
  margin-left: 15px;
}
.zip_production_plan ul {
  list-style-type: circle;
  margin: 10px 20px;
  width: 60%;
}
.zip_production_plan ul li {
  line-height: 30px;
  font-size: 12px;
}
.zipmrp {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: normal;
}

.zipmrp p:nth-child(1) {
  width: 70%;
  font-size: 13px;
}

.zipmrp p:nth-child(2) {
  width: 15%;
}
.zipmrp p:nth-child(3) {
  width: 15%;
  text-decoration: 2px line-through red;
}
.buynow {
  background-color: var(--red);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: var(--text_color);
  margin-right: 10px;
}
.addcart {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid var(--text_color);
  font-weight: bold;
  color: var(--text_color);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 50px;
}
.spacifications {
  margin: 50px 0;
}
.spacifications h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
  font-size: 15px;
}
.spacifications h2 {
  font-size: 15px;
  margin: 20px 0;
}
.spacifications_Type {
  display: flex;
  flex-wrap: wrap;
}
.spacifications_Type .box {
  width: 30%;
  margin-right: 3%;
  padding: 15px 20px 15px 0;
  margin-bottom: 30px;
  border-right: 1px solid var(--grey);
}
.spacifications_Type .box:nth-child(3) {
  border: none;
}
.spacifications_Type .box p:first-child {
  margin-bottom: 10px;
}
.spacifications_Type .box p {
  font-size: 12px;
}
.manufaturer .box {
  border: none;
}
.viewmorebtn {
  padding: 7px 15px;
  color: var(--container_bg);
  background-color: var(--text_color);
  border-radius: 5px;
  border: none;
  outline: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.overview_box {
  margin: 30px 0;
}
.overview {
  display: flex;
  flex-wrap: wrap;
}
.overview_left {
  width: 50%;
}
.overview_right {
  width: 45%;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 12px;
}
.overview_box h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
  font-size: 15px;
}
.ProductShowCase {
  margin: 30px 0;
}
.ProductShowCase h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
  font-size: 15px;
}

.overview_box h2 {
  font-size: 15px;
  margin: 20px 0;
}
.footer {
  padding: 30px;
  display: flex;
  background-color: var(--footerbg);
}
.footer h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer1,
.footer3 {
  width: 30%;
  padding: 0 30px;
}
.footer2 {
  width: 40%;
  border-left: 1px solid var(--text_color);
  border-right: 1px solid var(--text_color);
  padding: 0 30px;
}

.store {
  display: flex;
}
.store_box {
  width: 50%;
}
.store_box p {
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px 0 0;
}
.customercare {
  width: 50%;
  margin-left: auto;
  border-top: 1px solid var(--text_color);
}
.customercare h4 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
}

input#email_txt {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}
.mail {
  position: relative;
}
.mail i {
  position: absolute;
  right: 10px;
  top: 9px;
  color: var(--container_bg);
}
.social_media_icon {
  margin: 10px 0;
}
.social_media_icon .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--text_color);
  color: var(--container_bg);
  margin: 5px;
  border-radius: 50%;
}
.mobile_media_icon {
  margin: 10px 0;
}
.mobile_media_icon .fa {
  margin: 10px;
}
.mobile_media_icon {
  display: none;
}
.similar_products_box {
  margin: 30px 0;
}
.similar_products_box h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
  font-size: 15px;
}
.similar_products {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.similar_products_card {
  width: 30%;
  background-color: var(--text_color);
  color: var(--container_bg);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.similar_products_card img {
  width: 80%;
  margin: 50px auto;
  display: block;
}
.similar_products_card p {
  font-size: 13px;
  margin: 50px 0 20px;
  line-height: 20px;
  font-weight: bold;
  width: 90%;
}
.similar_products_card b {
  font-size: 20px;
  color: var(--orange);
  font-weight: bold;
}
.similar_products_card .fa-heart-o {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.product {
  display: flex;
  margin: 30px 0;
}
.product_left {
  width: 10%;
}
.product_right {
  width: 80%;
  background: var(--text_color);
}
.steps {
  display: flex;
  justify-content: center;
}
.step {
  width: 28%;
  margin: 10px;
}
.step h4 {
  color: var(--container_bg);
  font-weight: bold;
}
.step p {
  color: var(--container_bg);
  font-weight: normal;
  font-size: 8px;
  margin: 5px 0;
  height: 25px;
}
@media (max-width: 576px) {
  .Carousel {
    height: auto;
    padding: 50px 0 0;
  }

  .Carousel .carousel_image {
    height: 35vh;
  }
  .Carousel .left_content {
    width: 100%;
  }
  .Carousel .Right_content {
    width: 90%;
    width: 100%;
    overflow-x: hidden;
  }
  .Carousel .Right_content pre {
    font-size: 12px;
  }
  .Carousel .Right_content .btn {
    display: block;
    margin: 0 0 20px;
  }
  .cardgroup .card {
    min-width: 95%;
    background-color: var(--text_color);
    border-radius: 5px;
    margin: 10px;
    padding: 0px 10px;
  }
  .keyfeatures ul li {
    line-height: 25px;
    font-size: 10px;
  }

  .zip_production_plan span {
    margin: 10px 0 0 0;
    display: block;
  }
  .zipmrp {
    flex-wrap: wrap;
  }
  .zipmrp p:nth-child(1) {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .zipmrp p:nth-child(2),
  .zipmrp p:nth-child(3) {
    width: 20%;
    font-size: 10px;
  }
  .Carousel .Right_content {
    height: fit-content;
    overflow: hidden;
  }
  .spacifications {
    margin: 0;
  }
  .spacifications_Type .box {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
    border-right: 0px solid var(--grey);
    border-bottom: 1px solid var(--grey);
  }

  .overview_left {
    width: 100%;
  }
  .overview_right {
    width: 100%;
    padding: 0 10px;
    text-align: justify;
  }
  .footer1 {
    width: 100%;
    padding: 0 0px;
  }
  .footer2,
  .footer3 {
    display: none;
  }
  .social_media_icon {
    display: none;
  }
  .mobile_media_icon {
    display: block;
  }
  .similar_products_card {
    width: 100%;
    margin-bottom: 20px;
  }
  .overview_box,
  .ProductShowCase,
  .similar_products_box {
    display: none;
  }
  .footer {
    margin: 50px 0 0;
  }
}
